<footer class="footer">


  <div class="footer_sponsors">
    <h3>Ondersteund door</h3>
    <div class="sponsor_logos">
      <img src="/img/vives.png" class="sponsor_logo">
      <img src="/img/vives.png" class="sponsor_logo">
      <img src="/img/vives.png" class="sponsor_logo">
      <img src="/img/vives.png" class="sponsor_logo">
      <img src="/img/vives.png" class="sponsor_logo">
    </div>
  </div>


  <div class="footer_contact">
    <div class="contact_text">
      <h1 class="contact_lijn1">Klaar om te beginnen?</h1>
      <h2 class="contact_lijn2">Contacteer ons vandaag nog.</h2>
    </div>
    <a href="/contact" class="contact_knop">Contacteer ons</a>
  </div>

  <div class="footer_onderkant">

    <div class="footer_linkerkant">
      <h4>Wavez</h4>
      <p>&copy; 2024-2025</p>
      <div class="footer_extras">
        <a href="/privacy">Privacy</a> | <a href="/terms">Terms</a>
      </div>
    </div> 
</footer>