<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cactus Festival</title>
</head>
<body>
    <div class="heroCactus">Beleef de beste muziek en sfeer!</div>
    <h2>Fotogalerij</h2>
    <div class="gallery">
        <img src="/img/Cactus_Festival5.jpg" alt="Festival sfeer">
        <img src="/img/Cactus_Festival2.jpg" alt="Artiest op podium">
        <img src="/img/Cactus_Festival3.jpg" alt="Publiek juicht">
        <img src="/img/Cactus_Festival4.jpg" alt="Lichtshow">
    </div>
</body>
</html>