<body>
    <div class="heroDranouter">Beleef het beste familiefestival!</div>
    <h2>Fotogalerij</h2>
        <section class="Banner">
        <div class="infoBanner">
            
            <div class="text-content">
                <h1>FeestSfeer</h1>
                <p>Hier kan je zien hoe goed de sfeer zit tijdens de muziekoptredens</p>
            </div>
            <img src="/img/muziekDranouter.jpg" alt="muziekDranouter">
        </div>
        <div class="infoBanner">
            <img src="/img/ligstoelDranouter.jpg" alt="ligstoelDranouter"> 
            <div class="text-content">
                <h1>Lekker chillen</h1>
                <p>Naast alle muziek en drukte is er altijd genoeg ruimte om te chillen</p>
            </div>
            
        </div>
    </section>
    </div>
</body>