<body>
    <div class="hero">Beleef de beste muziek en sfeer!</div>
    <h2>Fotogalerij</h2>
    <div class="gallery">
        <img src="/img/sfeer.jpg" alt="Festival sfeer">
        <img src="/img/dj.jpg" alt="Artiest op podium">
        <img src="/img/crowd.jpg" alt="Publiek juicht">
        <img src="/img/lichtshow.jpg" alt="Lichtshow">
    </div>
</body>