<div class="pukkelpop-page">
    <h1>Pukkelpop</h1>
    <h3>
        Pukkelpop kiest bewust voor een breed, eclectisch programma: van stevige 
        rock tot rustige singer-songwriters, opzwepende dance, pure pop, loeiharde metal, intense rap en meer
    </h3>
    <div class="Logo">
        <img src="/img/Jens-PukkelpopLogo2025.jpg" alt="Pukkelpop Logo">
    </div>
    <p>Geniet van verschillende soorten muziek zoals hiphop, heavymetal, punk en nog veel meer.</p>
    <div class="pukkelpopsfeer">
        <img src="/img/Jens-sfeer.jpg" alt="Pukkelpop sfeer">
    </div>
    <p>Hele dagen veel plezier met vrienden, familie en andere festivalgangers</p>
    <div class="stadium-showcase">
        <img src="/img/Jens-stadium.jpg" alt="stadium showcase">
    </div>
</div>