
<body>
    <dive class="Suikerrock"></dive>
    <dive class="Suikerrockachtergrond">
    <h2>Datume</h2>
    <h3>1, 2 en 3 augustus</h3>
    </dive>
    <h2>Fotogalerij</h2>
    <div class="gallery">
        <img src="/img/Suikerrock-e.jpg">
        <img src="/img/Suikerrock-j.jpg">
        <img src="/img/Suikerrock-c.jpg">
        <img src="/img/Suikerrock-p.png">
    </div>
    <h3>Bezoek de officele Suikerrock website hier.</h3>
    <a href="https://www.suikerrock.be">Suikerrock</a>
</body>